.main {
	border: double grey;
}

.header {
	border-bottom: 1.4px solid grey;
	background-color: lightgrey; 
}

.header h2 {
	margin: 0;
	padding: 15px;
	padding-left: 22px;
}

.movies {
	margin: 20px;
	border: 1px solid grey;
	padding-left: 0;
}

.movies li {
	list-style-type: none;
	padding: 20px;
	border-bottom: 1px solid grey;
}

.movies li:last-child {
	border-bottom: none;
}

.search, .add-movies {
	margin: 20px;
}

.search input, .add-movies input {
	border-radius: 5px;
}

.add-movies button {
	background-color: #6ba86f;
	color: white;
	border-radius: 5px;
}

.not-found {
	margin: 22px;
}

.toggle {
	float: right;
	background-color: #6ba86f;
	color: white;
	border-radius: 5px;
}

.search {
	display: flex;
	justify-content: flex-start;
}

.search-row {
	margin-right: 10px;
}





